@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  text-align: center;
  background-image: url(Assests/background-image.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  font-family: poppins,sans-serif;
}

.App-header {
  background-color: aliceblue;
  box-shadow: 3px 3px 20px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px 30px;
}
.App-header button{
  width: 200px;
  height: 50px;
  background-color: #dc3545;
  border: none;
  border-radius:20px ;
  color: white;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  opacity: 85%;
  
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 80%;
  padding: 10px;
  margin: 5px auto 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}
